.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    font-size: 18px;
    padding: 92px 50px 96px;
    line-height: 100%;
}

.header-links-list {
    list-style: circle;
    display: flex;
    gap: 30px;
    text-transform: lowercase;
}

.header-links-list-item:first-child {
   list-style: none;
}

.header-link {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.header-link-active {
    text-decoration: none;
}

.header-logo-image {
    width: 148px;
    height: 105px;
}

.header-address { 
    display: flex;
    justify-self: end;
    flex-direction: column;
    max-width: 240px;
} 
 
.address-text { 
    line-height: 24px;
    font-style: normal;
    text-underline-offset: 4px;
}

.cover {
    color: white;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
    text-transform: uppercase;
    padding: 165px 50px 50px;
    min-height: 757px;
    position: relative;
}

.overlay {
    background-color: rgb(0, 0, 0, 0.6);
    position: absolute;
    inset: 0;
}

.cover-title {
    font-weight: 700;
    line-height: 115%;
    font-size: 100px;
    letter-spacing: 0.3em;
    position: relative;
    z-index: 2;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.text-center {
    text-align: center;
    display: block;
    margin-top: 20px;
}

.text-right {
    text-align: right;
    display: block;
    margin-top: 20px;
}

.cover-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    margin-top: 106px;
    font-size: 22px;
}

.cover-subline {
    line-height: 28px;
    word-spacing: 18px;
}

.cover-button {
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 12px 32px;
    text-transform: uppercase;
}

.lots {
    margin: 180px 24px 0;
}

.lots-heading {
    text-transform: uppercase;
    font-size: 40px;
    padding-left: 40px;
    margin-bottom: 27px;
    line-height: 100%;
}

.lots-card-list {
    list-style: none;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.card-link {
    text-decoration: none;
}

.card {
    width: 334px;
    min-height: 596px;
    background-color: #000000;
    padding: 48px 40px;
    color: #fff;
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 22px;
    position: relative;
    z-index: 2;
    text-underline-offset: 4px;
    line-height: 120%;
}

.card-text {
    position: relative;
    font-size: 20px;
    z-index: 2;
    line-height: 120%;
}

.card-type-film {
    background-image: url(../images/card-lot-01.jpg)
}

.card-type-book {
    background-image: url(../images/card-lot-02.jpg)
}

.card-type-picture {
    background-image: url(../images/card-lot-03.jpg)
}

.lots-more-link {
    display: block;
    margin: 30px 0 0 40px;
    font-size: 20px;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.about {
    display: grid;
    grid-template-columns: 334px auto;
    margin: 118px 24px 180px;
    gap: 25px;
    padding-top: 35px;
}

.about-logo {
    background-color: black;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 240px;
    height: 240px;
}

.about-logo-image {
    width: 148px;
    height: 114px;
}

.about-title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    margin: 100px 0;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 20px;
    line-height: 24px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 50px 82px;
    font-size: 18px;
}

.footer-address {
    display: flex;
    flex-direction: column;
    justify-self: start;
    max-width: 265px;
}

.footer-links-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-transform: lowercase;
    align-items: center;
}

.footer-link {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.footer-link-active {
    text-decoration: none;
}

.footer-social-list {
    list-style: none;
    display: flex;
    gap: 48px;
    justify-self: end;
}

.footer-social-icon {
    width: 48px;
    height: 48px;
}